# Wrangling OSM Data

OpenStreetMap (OSM) is a collaborative project to create a free an editable map of the world, much like what Wikipedia did for the encyclopeida. OSM offers a community-supported version of the dominant mapping application, Google Maps.

For this project, we will be wrangling OSM data for Madison, WI. The OSM file was pulled from [BBBike exports of OpenStreetMap](https://download.bbbike.org/osm/bbbike/), which makes available copies of OSM data for more than 200 cities and regions world wide. I lived in Madison for a little while, and just recently moved from there in January, so I'm a bit familiar with this region.

Due to the size of the OSM file we will be using the `xml.etree` module to iteratively parse through each line of XML data

Let's start with importing some modules we will be using, the files that will be used to form the tables, and some regular expressions we will be using to validate the data as it comes to us.

In [15]:
import xml.etree.cElementTree as ET
import pandas as pd
import re

from pprint import pprint
from csv import DictWriter as dw
from collections import defaultdict
from sqlalchemy import create_engine, Table, Column, Integer, Numeric, String, MetaData, ForeignKey


# I/O files
OSM_FILE = 'Madison.osm'
NODE_FILE = 'node.csv'
NODE_TAG_FILE = 'node_tag.csv'
WAY_FILE = 'way.csv'
WAY_TAG_FILE = 'way_tag.csv'
WAY_NODE_FILE = 'way_node.csv'

# Header values for output CSV files
NODE_HEAD = ['id', 'lat', 'lon', 'version']
NODE_TAG_HEAD = ['id', 'key', 'value', 'type']
WAY_HEAD = ['id', 'version']
WAY_TAG_HEAD = ['id', 'key', 'value', 'type']
WAY_NODE_HEAD = ['id', 'node_id']

# Regular expressions for validating zips, phones, etc.
PROBLEM_CHARACTERS = re.compile(r'[=\+/&<>;\'"\?%#$@\,\. \t\r\n]')
ZIP_CODE_RE = re.compile(r'^(\d{5})[- ]?(\d{4})?$')
PHONE_NUM_RE = re.compile(r'^[+]?(1)?[- \.]?[( ]?(\d{3})[ )]?[- \.]?(\d{3})[- \.?]?(\d{4})$')
PHONE_REPLACEMENT_RE = '\\2\\3\\4'
STREET_NAME_RE = re.compile(r'\b\S+\.?$', re.IGNORECASE)

# List of acceptable address names for validation
expected_addresses = ['Avenue', 'Bend', 'Boulevard', 'Broadway', 
                      'Circle', 'Close', 'Commons', 'Court', 
                      'Crestway', 'Cross', 'Drive', 'Highway', 
                      'Lane', 'Lawn', 'Main', 'Mews', 'Parkway',
                      'Pass', 'Place', 'Plaza', 'Ridge', 'Road',
                      'Row', 'Square', 'Street', 'Terrace', 'Trace',
                      'Trail', 'Way']

# Use defaultdict sets for data validation, esp. streetnames
zip_code_audit = defaultdict(set)
phone_num_audit = defaultdict(set)
address_audit = defaultdict(set)

Next, we will write some functions that will help us audit the XML data and categorize it for us, based on what we want to be editing/validating. the `audit()` function will perform checks for `is_x` where x is one of the areas we will be validating. Once determined, an `audit_x` function will be performed to check the validity of the data entry against the regular expressions written above.

In [38]:
#********************************************************************#
#     Functions for auditing the OSM data                            #
#********************************************************************#


def audit(file=OSM_FILE):
    '''Returns dictionary values for invalid formats through audit function'''
    f = open(file, 'r')
    for event, element in ET.iterparse(f, events=('start',)):
        if (element.tag == 'node') or (element.tag == 'way'):
            for tag in element.iter('tag'):
                if is_zip_code(tag):
                    audit_zip_code(tag.attrib['v'])
                if is_street_name(tag):
                    audit_street_name(tag.attrib['v'])
                if is_phone(tag):
                    audit_phone_num(tag.attrib['v'])
    f.close()
    audit_printer('ZIP CODES', zip_code_audit)
    audit_printer('STREET NAMES', address_audit)
    audit_printer('PHONE NUMBERS', phone_num_audit)


def is_zip_code(element):
    return element.attrib['k'] == 'addr:postcode'


def is_street_name(element):
    return element.attrib['k'] == 'addr:street'


def is_phone(element):
    return (element.attrib['k'] == 'phone') or (element.attrib['k'] == 'contact:phone')


def audit_zip_code(zip_code):
    '''Audits a zip code value to ensure it is in a valid format'''
    match = zip_code_re.search(zip_code)
    if not match:
        zip_code_audit[zip_code].add(zip_code)


def audit_street_name(street_name):
    '''Audits a street value to ensure it is in a valid format'''
    match = STREET_NAME_RE.search(street_name)
    if match:
        street_type = match.group()
        if street_type not in expected_addresses:
            address_audit[street_type].add(street_name)


def audit_phone_num(phone_num):
    '''Audits a phone number to ensure it is in a valid format'''
    match = PHONE_NUM_RE.search(phone_num)
    if not match:
        phone_num_audit[phone_num].add(phone_num)


def audit_printer(audit_name, audit_type):
    print('#', '*' * 68, '#')
    print(' ' * 5, 'Auditing: {}'.format(audit_name))
    print('#', '*' * 68, '#')
    pprint(dict(audit_type))
    print('\n\n')

## Auditing the Data

In [12]:
audit()

# ******************************************************************** #
      Auditing: ZIP CODES
# ******************************************************************** #
{'5': {'5'}}



# ******************************************************************** #
      Auditing: STREET NAMES
# ******************************************************************** #
{'106': {'East Cheryl Parkway, Ste 106'},
 '2611': {'2611'},
 '3': {'North 3rd Street, Studio 3'},
 '320': {'University Row, Suite 320'},
 '5': {'North 3rd Street, Studio 5'},
 'Ave': {'Atlas Ave',
         'Commercial Ave',
         'E Washington Ave',
         'Highland Ave',
         'Old University Ave',
         'Sherman Ave',
         'Thornton Ave',
         'West Washington Ave'},
 'Ave.': {'E. Verona Ave.'},
 'Avenues': {'Sherman Avenues'},
 'B': {'County Highway B'},
 'Blvd': {'Shorewood Blvd', 'East Towne Blvd', 'South Midvale Blvd'},
 'Cir': {'Hawks Landing Cir'},
 'Crestway': {'Simon Crestway'},
 'Ct': {'Bernard Ct'},
 'Dr': {'Triverton Pike Dr', 'Excelsior Dr'},
 'Dr.': {'Northport Dr.', 'Kroncke Dr.', 'Linden Dr.'},
 'East': {'Highway 12 & 18 East'},
 'G': {'State St #G'},
 'Hamilton': {'N. Hamilton'},
 'Johnson': {'E. Johnson'},
 'K': {'County Highway K'},
 'Ln': {'Elka Ln'},
 'Ln.': {'Appleglen Ln.'},
 'M': {'County Rd M', 'County Highway M'},
 'Main': {'Cahill Main'},
 'Mall': {'Bascom Mall',
          'E Towne Mall',
          'East Campus Mall',
          'Henry Mall',
          'West Towne Mall'},
 'PB': {'County Highway PB'},
 'PD': {'County Road PD', 'County Highway PD'},
 'Pass': {'Arbor Mist Pass', 'Overlook Pass'},
 'Pkwy': {'Mickelson Pkwy'},
 'Q': {'County Highway Q'},
 'Rd': {'Burma Rd',
        'Lake Farm Rd',
        'McKee Rd',
        'Raymond Rd',
        'S Stoughton Rd',
        'South Stoughton Rd',
        'Verona Rd',
        'W Mineral Point Rd'},
 'Rd.': {'McCoy Rd.'},
 'Ridge': {'Eton Ridge'},
 'Row': {'Rugby Row', 'University Row'},
 'St': {'Copeland St',
        'E Gorham St',
        'Glenway St',
        'N Hamilton St',
        'Paoli St',
        'S. Brearly St',
        'State St',
        'W Gilman St',
        'Wilson St'},
 'St.': {'N Pinckney St.'},
 'Stoughton': {'North Stoughton'},
 'US-51': {'US-51'},
 'Williamson': {'Williamson'},
 'road': {'junction road'},
 'street': {'Walnut street'}}



# ******************************************************************** #
      Auditing: PHONE NUMBERS
# ******************************************************************** #
{'(608) 257-9700\u200b': {'(608) 257-9700\u200b'},
 '+1-608-283-9860;6082839860': {'+1-608-283-9860;6082839860'},
 'no': {'no'}}

This shows the data points that failed our validation. Some of these values are still valid (e.g. 'US-51' would be a valid address), so there is additional human validation required for these. We'll make 'map' dictionaries for zip codes, street names, and phone numbers to correct these values to more readable instances.

Below is the result of this scrubbing! It is important to note that phone numbers will be updated/validating using a special `re.sub()` method which functions much faster.

In [39]:
zip_map = {'5': ''}
street_map = {
    'Ave': 'Avenue', 'Ave.': 'Avenue', 'Avenues': 'Avenue', 
    'Blvd': 'Boulevard', 
    'Cir': 'Circle', 'Ct': 'Court',
    'Dr': 'Drive', 'Dr.': 'Drive', 
    'Hamilton': 'Hamilton Street', 
    'Johnson': 'Johnson Street', 
    'Ln': 'Lane','Ln.': 'Lane', 
    'Mall': 'Mall Road', 
    'Pkwy': 'Parkway', 
    'Rd': 'Road', 'Rd.': 'Road', 'road': 'Road',
    'St': 'Street', 'St.': 'Street', 'street': 'Street',
    'Stoughton': 'Stoughton Road', 
    'Williamson': 'Williamson Street'}
phone_map = {'(608) 257-9700\u200b': '6082579700', 'no': ''}

## Parsing the XML Tree

Next, we will parse through the actual XML tree, shaping each of the elements to conform with what will then become a multiple csv files which will then be transformed into the tables which will make up our SQLite database.

We'll start by defining a number of functions that will help us as we encounter each of the XML elements.

In [40]:
#********************************************************************#
#     Functions for navigating the XML tree                          #
#********************************************************************#

def get_element(file=OSM_FILE, tags=('node', 'way', 'relation')):
    '''Yield the element if it matches a specific tag type'''
    context = ET.iterparse(file, events=('start', 'end'))
    _, root = next(context)
    for event, element in context:
        if (event == 'end') and (element.tag in tags):
            yield element
            root.clear()


def shape_element(element):
    '''Return the node or way as a dictionary from raw XML data'''
    node_attributes, way_attributes = {}, {}
    way_nodes_list, tags_list = [], []

    if element.tag == 'node':
        node_attributes = shape_element_attributes(element, NODE_HEAD)
        node_id = node_attributes['id']
        tags = shape_element_tags(element, node_id)
        return {'node': node_attributes, 'node_tag': tags}
    elif element.tag == 'way':
        way_attributes = shape_element_attributes(element, WAY_HEAD)
        way_id = way_attributes['id']
        tags = shape_element_tags(element, way_id)
        way_nodes = shape_way_node(element, way_id)
        return {'way': way_attributes, 'way_tag': tags, 'way_node': way_nodes}


def shape_element_attributes(element, header):
    '''Convert raw XML to a dictionary node or way'''
    attributes = {}
    for field in header:
        attributes[field] = element.attrib[field]
    return attributes


def shape_element_tags(element, id_):
    '''Shape the raw XML tags'''
    tags = []
    element_tags = element.findall('tag')
    if element_tags:
        for element_tag in element_tags:
            key, value = element_tag.get('k'), element_tag.get('v')
            if not re.search(PROBLEM_CHARACTERS, key):
                tag = {'id': id_}
                # First check to see if there is a colon in the string
                # If there is, split the string into type and key
                if ':' in key:
                    tag['type'], tag['key'] = key.split(':', 1)
                else:
                    tag['type'], tag['key'] = '', key

                # Next, address the tag values
                if key == 'addr:street':
                    tag['value'] = update_street_name(value)
                elif (key == 'phone') or (key == 'contact:phone'):
                    tag['value'] = update_phone_num(value)
                elif key == 'addr:postcode':
                    tag['value'] = update_zip_code(value)
                else:
                    tag['value'] = value

                tags.append(tag)
    return tags


def shape_way_node(element, way_id):
    '''Convert raw XML into way_nodes dictionary'''
    way_nodes = []
    way_node_tags = element.findall('nd')
    for tag in way_node_tags:
        w_node = {'id': way_id, 'node_id': tag.get('ref')}
        way_nodes.append(w_node)
    return way_nodes


#********************************************************************#
#     Functions for updating the OSM data                            #
#********************************************************************#


def update_zip_code(zip_code, mapping=zip_map):
    '''Updates zip code format if it is found in the mapping'''
    if zip_code in mapping:
        replacement = mapping[zip_code]
        zip_code.replace(zip_code, replacement)
    return zip_code


def update_street_name(street_name, mapping=street_map):
    '''Updates street name format if it is found in the mapping'''
    street_type = street_name.split(' ')[-1]
    if street_type in mapping:
        replacement = mapping[street_type]
        street_name.replace(street_type, replacement)
    return street_name


def update_phone_num(phone_num, mapping=phone_map):
    '''Updates phone number format if it is found in the mapping'''
    if phone_num in mapping:
        phone_num = mapping[phone_num]
        return phone_num
    else:
        return re.sub(PHONE_NUM_RE, PHONE_REPLACEMENT_RE, phone_num)

The main function takes the OSM data and processes it into csv files which will then be manipulated into SQL databases which will exist in the memory of the browser--this is the easiest way to present the database through Jupyter and also makes it nicely portable!

In [28]:
#********************************************************************#
#     Main Function                                                  #
#********************************************************************#


def process_map(file=OSM_FILE):
    """Iteratively process each XML element and write to csv(s)"""
    with open(NODE_FILE, 'w', encoding='utf-8') as node_file, \
            open(NODE_TAG_FILE, 'w', encoding='utf-8') as node_tag_file, \
            open(WAY_FILE, 'w', encoding='utf-8') as way_file, \
            open(WAY_TAG_FILE, 'w', encoding='utf-8') as way_tag_file, \
            open(WAY_NODE_FILE, 'w', encoding='utf-8') as way_node_file:
        
        # Use dictwriter for each of the csv file writers
        node_writer = dw(node_file, NODE_HEAD)
        node_tag_writer = dw(node_tag_file, NODE_TAG_HEAD)
        way_writer = dw(way_file, WAY_HEAD)
        way_tag_writer = dw(way_tag_file, WAY_TAG_HEAD)
        way_node_writer = dw(way_node_file, WAY_NODE_HEAD)
        
        # Write the headers for each of the csv files
        node_writer.writeheader()
        node_tag_writer.writeheader()
        way_writer.writeheader()
        way_tag_writer.writeheader()
        way_node_writer.writeheader()
        
        # Determine if node/way, then write XML data to file
        for element in get_element(file, tags=('node', 'way')):
            elem = shape_element(element)
            if elem:
                if element.tag == 'node':
                    node_writer.writerow(elem['node'])
                    node_tag_writer.writerows(elem['node_tag'])
                elif element.tag == 'way':
                    way_writer.writerow(elem['way'])
                    way_node_writer.writerows(elem['way_node'])
                    way_tag_writer.writerows(elem['way_tag'])

process_map()

## Creating the Database

Now that we have parsed the XML tree, we are ready to create an populate the database. For this, we will be using the library SQLAlchemy, which allows us to create a SQLite database in the memory of the browser.

We will be taking the csv files that were created during the `process_map()` function and transform them in SQL databases using pandas.

In [32]:
#********************************************************************#
#     Functions for managing the Database                            #
#********************************************************************#


def csv_to_sql(csv_file, table):
    """Returns a table in SQL from a csv file provided"""
    df = pd.read_csv(csv_file, encoding='utf-8')
    df.to_sql(table, engine, if_exists='replace', index=True)
    

#********************************************************************#
#     Database schema and creation                                   #
#********************************************************************#

# Create the datatbase engine, schema, and tables
engine = create_engine('sqlite:///:memory:', echo=False)
metadata = MetaData()

# Create the tables for the database
node_table = Table('node', metadata,
                    Column('id', Integer, primary_key=True, nullable=False),
                    Column('lat', Numeric),
                    Column('lon', Numeric),
                    Column('version', Integer))
node_tag_table = Table('node_tag', metadata,
                    Column('id', Integer, ForeignKey('node.id'), nullable=False),
                    Column('key', String),
                    Column('value', String),
                    Column('type', String))
way_table = Table('way', metadata,
                    Column('id', Integer, primary_key=True, nullable=False),
                    Column('version', Integer))
way_tag_table = Table('way_tag', metadata,
                    Column('id', Integer, ForeignKey('way.id'), nullable=False),
                    Column('key', String),
                    Column('value', String),
                    Column('type', String))
way_node_table = Table('way_node', metadata,
                    Column('id', Integer, ForeignKey('way.id'), nullable=False),
                    Column('node_id', Integer, ForeignKey('node.id'), nullable=False))
metadata.create_all(engine)

# Convert the csv files into their respective SQL DBs
csv_to_sql(NODE_FILE, 'node')
csv_to_sql(NODE_TAG_FILE, 'node_tag')
csv_to_sql(WAY_FILE, 'way')
csv_to_sql(WAY_TAG_FILE, 'way_tag')
csv_to_sql(WAY_NODE_FILE, 'way_node')

## Querying the Data

Now we can begin exploring the data.

Our fileset includes the following files and their sizes. Note the original `Madison.osm` file at 152.8 MB.

| File Name    	| File Size (MB) 	|
|--------------	|----------------	|
| Madison.osm  	| 152.8          	|
| node.csv     	| 47.7           	|
| node_tag.csv 	| 1.3            	|
| way.csv      	| 2.0            	|
| way_node.csv 	| 33.7           	|
| way_tag.csv  	| 9.2            	|

UDACITY NOTE: This dataset **does not include the number of unique users** that have updated the map. I do not have this information and cannot fulfill the requirement on the rubric.

### Statistics about the dataset

In [155]:
sql =   '''
        SELECT COUNT(id) AS "Number of Nodes" 
        FROM node;
        '''
pd.read_sql_query(sql, engine)

   Number of Nodes
0          1305256

In [157]:
sql =   '''
        SELECT COUNT(*) AS "Number of Ways" 
        FROM way;
        '''
pd.read_sql_query(sql, engine)

   Number of Ways
0          157906

### Running Some Queries

Now that we have the datasets properly loaded into the database, we can begin exploring some interesting featureus of Madison. These next couple of queries look at unique keys from the `node_tag` table that have at least 30 instances across Madison. We'll look at values in the midspread of that, to find a couple that would be worth looking into.

In [158]:
sql =   '''
        SELECT DISTINCT(key) AS unique_keys,
        COUNT(*) AS count_keys
        FROM node_tag
        GROUP BY key
        HAVING count_keys > 30;
        '''
df=pd.read_sql_query(sql, engine)
print(df.describe(), end='\n\n')

sql =   '''
        SELECT DISTINCT(key) AS unique_keys,
        COUNT(*) AS count_keys
        FROM node_tag
        GROUP BY key
        HAVING count_keys
        BETWEEN 55 AND 440;
        '''
df=pd.read_sql_query(sql, engine)
print(df.sort_values('count_keys'))

         count_keys
count     83.000000
mean     469.048193
std     1203.210025
min       31.000000
25%       55.000000
50%      148.000000
75%      440.500000
max    10060.000000

        unique_keys  count_keys
3             bench          56
22          parking          67
30         state_id          67
6         county_id          67
14         historic          70
27     shelter_type          71
13       healthcare          72
5           country          73
1          backrest          74
7           created          78
12       feature_id          80
19           noexit          80
33   tactile_paving          85
39             unit          99
4          capacity         111
11              ele         119
37  traffic_signals         127
34         takeaway         128
31             stop         134
26          shelter         136
38             type         148
21    opening_hours         162
24            place         170
20           office         170
28           source         175
17         man_made         186
23            phone         187
15      information         189
32        structure         212
0            access         216
9            design         233
18         material         255
36  traffic_calming         263
35          tourism         337
40          website         349
10        direction         351
2           barrier         379
8           cuisine         407
16          leisure         410
25         postcode         421
29            state         425

#### What kind of tourist attractions exist in Madison, and how many of those are there?

In [166]:
sql =   '''
        SELECT value,
        COUNT(*) AS count_value
        FROM node_tag
        WHERE key='tourism'
        GROUP BY value
        ORDER BY count_value DESC;
        '''
pd.read_sql_query(sql, engine)

          value  count_value
0   information          189
1       artwork           56
2     viewpoint           28
3    attraction           21
4   picnic_site           10
5         hotel            8
6       gallery            7
7        museum            5
8    camp_pitch            5
9     camp_site            4
10        motel            2
11       hostel            1
12    apartment            1

#### What are the more popular types of cuisine in Madison?

In [168]:
sql = '''
        SELECT value AS "Type of Cuisine",
        COUNT(*) AS "Count of Type"
        FROM node_tag
        JOIN (SELECT DISTINCT id FROM node_tag WHERE value='restaurant') node_id
        ON node_tag.id=node_id.id
        WHERE key='cuisine'
        GROUP BY value
        ORDER BY "Count of Type" DESC
        LIMIT 15;
        '''
pd.read_sql_query(sql, engine)

   Type of Cuisine  Count of Type
0            pizza             29
1          mexican             16
2          chinese             15
3            asian             15
4          italian             10
5           indian              9
6         regional              6
7            pasta              6
8         japanese              6
9         american              6
10        barbecue              5
11           wings              4
12            thai              4
13   mediterranean              4
14           greek              4

#### What kind of leisure activities can you find in Madison?

In [150]:
sql = '''
        SELECT value AS "Type of Leisure",
        COUNT(*) AS "Count of Type"
        FROM node_tag
        JOIN (SELECT DISTINCT id FROM node_tag) node_id
        ON node_tag.id=node_id.id
        WHERE key='leisure'
        GROUP BY value
        HAVING "Count of Type" > 5
        ORDER BY "Count of Type" DESC;
        '''
pd.read_sql_query(sql, engine)

   Type of Leisure  Count of Type
0       playground            115
1     picnic_table            100
2          slipway             36
3   fitness_centre             32
4            pitch             27
5          firepit             18
6             park             17
7    sports_centre             13
8  outdoor_seating             10
9           garden             10

## Ideas for Improvement

Madison such a small city that perhaps all of Wisconsin may have been a more meaningful dataset; even the few queries that were run in this write-up yielded results that would have been better represented with broader dataset. Types of cuisine, for instance, would be a significantly more interesting analysis for all of Wisconsin where more datapoints could be yielded.
	
There would not be any drawbacks to this improvement, minus additional computation time required for a file so big. At that rate, we could begin looking for ways to optimize some of the functions for a faster execution time.